body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
.header-container h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: hsl(0, 0%, 17%);
  margin-left: 80px;
}
.header-container button {
  margin-left: auto;
  margin-right: 80px;
  padding: 10px 5px 10px 5px;
  color: hsl(0, 1%, 29%);
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.header-container button:hover {
  background-color: hsl(0, 0%, 98%);
}
.header-container button:focus {
  outline: none;
}
.header-container button:active {
  background-color: hsl(0, 0%, 95%);
}
.fa-moon {
  margin-right: 0px;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 80px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}
.search-bar {
  display: flex;
  justify-content: left;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
  color: hsl(0, 0%, 17%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.1);
}
#search {
  width: 450px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
  color: hsl(0, 0%, 17%);
  background-color: hsl(0, 0%, 100%);
}
#search:focus {
  outline: none;
}
#search::placeholder {
  color: hsl(0, 0%, 52%);
}
#search-button {
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
}
.fa-search {
  color: hsl(0, 0%, 52%);
}

#search-button:hover {
  background-color: hsl(0, 0%, 90%);
}
#search-button:focus {
  outline: none;
}
#search-button:active {
  background-color: hsl(0, 0%, 80%);
}
.region-selector {
  display: flex;
  justify-self: right;
  align-items: center;
  margin-left: auto;
  margin-left: 80px;
}
#region {
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
  color: hsl(0, 0%, 17%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
}
#region:hover {
  background-color: hsl(0, 0%, 98%);
}
#region:focus {
  outline: none;
}
#countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
}
.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  object-fit: contain;
  text-decoration: none;
}
.flag {
  width: 100%;
  height: 160px;
  border-radius: 5px 5px 0px 0px;
  object-fit: contain;
}
.flag img {
  width: 100%;
  height: 160px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}
.country-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  object-fit: contain;
}
.country-info h2 {
  font-size: 1.3rem;
  font-weight: 800;
  color: hsl(0, 0%, 17%);
  margin-bottom: 15px;
  text-align: center;
}
.country-info p {
  font-size: 1rem;
  font-weight: 300;
  color: hsl(0, 0%, 52%);
  line-height: 0%;
}
.country-info-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  column-gap: 80px;
  row-gap: 15px;
}

@media (max-width: 426px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-radius: 2px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 10px;
  }
  .header-container h1 {
    font-size: 16px;
    font-weight: 800;
    color: hsl(0, 0%, 17%);
    margin-left: 0px;
  }
  .header-container button {
    padding: 4px 2px;
    color: hsl(0, 1%, 29%);
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 400;
    margin-right: 0px;
    cursor: pointer;
  }
  .main-container {
    display: block;
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .search-container {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }
  .search-bar {
    display: flex;
    justify-content: left;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14;
    font-weight: 300;
    color: hsl(0, 0%, 17%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.1);
    padding: 0px 10px 0px 10px;
  }
  #search {
    width: 380px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    color: hsl(0, 0%, 17%);
    background-color: hsl(0, 0%, 100%);
  }
  #search-button {
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
  }

  .region-selector {
    display: flex;
    justify-self: right;
    align-items: center;
    margin-left: 0px;
    margin-top: 30px;
  }
  #region {
    width: 150px;
    height: 40px;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    color: hsl(0, 0%, 17%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
  }
  #countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
  }
  .country {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    object-fit: contain;
    text-decoration: none;
    overflow-y: auto;
  }
}
@media (max-width: 769px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 10px;
  }
  .header-container h1 {
    font-size: 20px;
    font-weight: 800;
    color: hsl(0, 0%, 17%);
    margin-left: 0px;
  }
  .header-container button {
    padding: 6px 3px;
    color: hsl(0, 1%, 29%);
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 0px;
    cursor: pointer;
  }
  .main-container {
    display: block;
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .search-container {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }
  .search-bar {
    display: flex;
    justify-content: left;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14;
    font-weight: 300;
    color: hsl(0, 0%, 17%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.1);
    padding: 0px 10px 0px 10px;
  }
  #search {
    width: 380px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    color: hsl(0, 0%, 17%);
    background-color: hsl(0, 0%, 100%);
  }
  #search-button {
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
  }
  .region-selector {
    display: flex;
    justify-self: right;
    align-items: center;
    margin-left: 0px;
    margin-top: 30px;
  }
  #region {
    width: 150px;
    height: 40px;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    color: hsl(0, 0%, 17%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
  }
  #countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
  }
  .country {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    object-fit: contain;
    text-decoration: none;
    overflow-y: auto;
  }
}
